.CallsHeading{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    color: #4E5B68;
}

.MainDiv{
    padding: 50px;
}

@media (max-width: 500px) {
    .MainDiv{
        padding: 5px;
    }
}